.theme-light {
  
  .body-container {
    background: #F6F8F9;
  }

  .theme-background-color {
    background: #FFFFFF;
  }

  .el-table--border::after,
  .el-table--group::after,
  .el-table::before {
    background-color: transparent;
  }

  .el-menu {
    border-right: none;
    background-color: transparent;
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }

  .el-menu-item {
    padding: 0 15px;
  }

  .el-menu--horizontal>.el-menu-item {
    border-bottom: none;
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #FFFFFF;
  }

  .el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: none;
    color: #FFFFFF;
  }

  .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover {
    background-color: transparent;
  }

  .el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    outline: 0;
    color: #FFFFFF;
  }

  .el-button {
    border: none;
    color: #1A2027;
  }

  .el-button--primary,
  .el-button--primary:focus,
  .el-button--primary:hover {
    height: 30px;
    background: linear-gradient(-16deg, #4195F6, #17E7D6);
    border-radius: 6px;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #131B1F;
  }

  .el-button--primary.is-disabled,
  .el-button--primary.is-disabled:active,
  .el-button--primary.is-disabled:focus,
  .el-button--primary.is-disabled:hover {
    color: #1a2027;
  }

  .el-button--primary:disabled {
    height: 30px;
    background: linear-gradient(-16deg, #848D98, #97A8A7);
    border-radius: 6px;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #1a2027;
  }

  .text-color {
    font-size: 14px;
    color: #1A2027 ;
  }

  .text-sub-color {
    font-size: 14px;
    color: #A9B7C3;
  }

  /* product-item */
  .product-container {
    background: #1A2027;
    box-shadow: 0px 8px 18px 0px rgba(9, 11, 12, 0.85);
    border-radius: 8px;
  }

  /* el-breadcrumb */


  .el-breadcrumb__inner a,
  .el-breadcrumb__inner.is-link {
    color: #848F8F;
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #848F8F;
  }

  .el-input__inner {
    height: 42px;
    color: #1A2027;
    background: #F7F9FA;
  }

  .el-input.is-disabled .el-input__inner {
      background-color: transparent;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;
  }
  .el-textarea__inner {
    color: #FFFFFF;
    background: #F6F8F9;
  }

  .el-tag.el-tag--info {
    border: none;
    background-color: #273037;
    border-color: #e9e9eb;
    height: 24px;
    border-radius: 5px;
    font-size: 9px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
  }

  .market-el-select {
    background-color: #FFFFFF !important;
    box-shadow: 0px 0px 9px 0px rgba(236,236,236,0.5);
    border-radius: 5px;
    padding: 10px 0px 10px 0px;

    .el-select-dropdown__item {
      font-size: 14px;
      margin: 5px 5px;
      color: #636B72;
    }

    .el-select-dropdown__item.hover {
      background: #F7F9FA;
      border-radius: 8px;
      color: #1A2027;
      font-weight: bold;
    }

    .el-select-dropdown__item.selected {
      background: #F7F9FA;
      border-radius: 8px;
      color: #1A2027;
      font-weight: bold;
    }

  }

  .el-scrollbar__bar.is-horizontal {
    height: 0px;
  }

  .el-select .el-input.is-focus .el-input__inner {
    border-color: #EAEDEF;
  }

  .el-popper .popper__arrow,
  .el-popper .popper__arrow::after {
    display: none;
  }

  /* el-tabs */
  .el-tabs__header {
    margin: 0 0;
  }

  .news-tab-container {
    background-color: #FFFFFF;
  }

  .el-tabs__item {
    border-bottom: 1px solid #E6EDF5;
    padding: 0 0;
    height: 33px;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #1A2027;
  }

  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }

  .el-tabs__item:hover {
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #00F9E5;
  }

  .el-tabs__item.is-active {
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #00F9E5;
  }

  .el-tabs__active-bar {
    background: linear-gradient(-90deg, #4195F6, #00F9E5);
  }

  .el-menu-item {
    color: #FFFFFF;
  }

  .el-menu-item:hover {
    color: #00FBE6;
    background-color: transparent;
  }
  .el-table__header{
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    /* color: #FFFFFF; */
  }
  .el-table__row {
    color: #1A2027;
    font-size: 14px;
  }

  .el-table th.el-table__cell {
    background-color: #FFFFFF;
  }

  .el-table tr {
    background-color: #FFFFFF;
  }

  .tab-header-item.select {
    color: #1A2027!important;
  }

  .comparison-tab .tab1 .tab-row .tab-row-text .desc {
    color: #1A2027;
  }

  .comparison-tab .tab1 .division {
    border: 0.5px solid #EEF2F4;
  }

  .comparison-tab .tab2 .item {
    border: 1px solid #EEF2F4!important;
  }

  .comparison-tab .tab2 .item .desc {
    color: #1A2027;
  }

  .comparison-tab .tab3 .tab-tip {
    background: #F6F8F9!important;
  }

  .comparison-tab .tab3 .tab-bottom .tab-row .tab-row-text .desc {
    color: #1A2027;
  }

  .comparison-tab .tab4 .tab-tip {
    background: #F6F8F9;
  }

  .comparison-tab .tab4 .tab-bottom .item {
    border: 1px solid #EEF2F4;
  }

  .comparison-tab .tab4 .tab-bottom .item .desc {
    color: #1A2027;
  }

  .home-container .bg{
    background-image: url('@/assets/images/page-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .home-container .info-container .left .item {
    /* background: linear-gradient(-25deg, #090D0D, #0D1212); */
    background: #FFFFFF;
  }

  .home-container .info-container .left {
    .item:first-child {
      background-image: url('@/assets/images/home/item-back1.png');
    }
    .item:nth-child(2) {
      background-image: url('@/assets/images/home/item-back2.png');
    }
    .item:last-child {
      background-image: url('@/assets/images/home/item-back3.png');
    }
  }

  .home-container .info-container .left .item .label {
    color: #707981;
  }

  .home-container .info-container .nft-info-container {
    background: #FFFFFF;
  }

  .home-container .info-container .nft-info-container {
    background-image: url('@/assets/images/home/item-back4.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .home-container .info-container .nft-info-container .nft-column .title {
    color: #707981;
  }

  .home-container .info-container .nft-info-container .nft-column .attr-container .attr-item {
    color: #707981;
  }

  .home-container .info-container .nft-info-container .nft-column .value-container .rate {
    color: #707981;
  }

  .home-container .info-container .nft-info-container .nft-column .attr-container .attr-item .rate {
    color: #707981;
  }

  .market-container .search-container {
    background: #FFFFFF;
  }

  .create-step0 {

    color: #17E7D6;

    .type-container .type-item {
      background-image: none !important;
      background: #FFFFFF;
      border: 1px solid;
      border-image: linear-gradient(0deg, #EBEFF1, #F6F8F9) 10 10;
      box-shadow: 0px 1px 2px 0px #E8EFF0;
      border-radius: 20px;
  
      &:hover {
        border-image: linear-gradient(0deg, #E2E5E7, #F6F8F9) 10 10;
        box-shadow: 0px 10px 13px 5px #E8EFF0;
        border-radius: 20px;
      }

    }

  }

  .proposal-container {
    background: #ECF0F2;
    border: 1px solid #D8DDDF;

    .proposal-left {
      .proposal-left-sub {
        color: #36404B;
      }
    }

    .proposal-right {

      .proposal-right-title {
        color: #1A2027;
      }

      .proposal-right-tip {
        color: #636B72;
      }

    }
    .proposal-right-sub {
      color: #636B72;
    }
  }

  .info-container .author-container .subscription.light {
    color: #00f9e5;
    border: 1px solid #00f9e5;
  }

  .info-container .author-container .subscription {
    background: #F7F9FA;
    border: 1px solid #EAEDEF;
  }

  .info-container .author-container .subscription.unsubscribe {
    background: #FFFFFF;
    color: #36404B;
  }

  .info-container .author-container .subscription.unsubscribe:hover {
    background: #F7F9FA;
  }

  .info-container .news-info .news-info-item {
    background: transparent;
    border: 1px solid #EAEDEF;

    .news-info-item-label {

      span {
        color: #36404B;
      }
    }
    
  }

  .info-container .author-container .author-info .author-name span {
    color: #1A2027;
  }

  .news-container .form-container .form-top .form-left .form-desc {
    color: #1A2027;
  }

  .news-container .form-container .form-top .form-left .form-tag {

    .form-tag-label {
      color: #636B72;
    }

    .form-tag-item {
      background: #F7F9FA;
      color: #36404B;
    }
    
  }

  .news-container .form-container .form-top .form-left .dao-container {

    background: #F7F9FA;

    .dao-title {
      border-bottom: 1px solid #E6EDF5;
    }

    .dao-set-tip {
      color: #636B72;
    }
    
  }

  .news-container .form-container .form-top .form-left .dao-container .dao-set .dao-set-item {
    background: #E6EDF5;
    border: 1px solid #E6EDF5;
  }

  .news-container .form-container .form-top .form-left .transactions-container .transactions-head {
    background: #F7F9FA;
  }

  .news-container .form-container .form-top .form-left .transactions-container .transactions-head .transactions-column {
    color: #636B72
  }

  .form-attr-container {
    border: 1px solid #EAEEF0;

    .form-attr-title {
      background: #F7F9FA;
      color: #1A2027;
    }

    .form-attr-list {

      .form-attr-item {
        background: #F7F9FA;

        .form-attr-label {
          font-size: 14px;
          color: #636B72;
        }
  
        .form-attr-value {
          color: #36404B;
          font-size: 16px;
          font-weight: bold;
        }


      }

    }
  }

  .form-attr-container .form-attr-market .form-attr-market-top .form-attr-available {
    background: #F7F9FA;
    color: #85949F;
  }

  .form-attr-container .form-attr-market .form-attr-mbd .mbd-transform {
    color: #636B72;
  }
  
  .form-attr-container .form-attr-market .form-attr-tip {
    color: #636B72;
  }

  .form-attr-container .form-second-market .second-market-header {
    background: #F7F9FA;
  }

  .form-attr-container .form-second-market .second-market-td {
    border-bottom: 1px solid #EFF5FB;
    color: #36404B;

    .second-btn {
      background: linear-gradient(-16deg, #848D98, #97A8A7);
      span {
        color: #36404B;
      }

      .buy {
        color: #00F9E5;
      }
    }
  }

  .form-attr-container .form-dao .dao-title {
    color: #36404B;
  }

  .form-attr-container .form-dao .dao-income-item .dao-income-value {
    color: #1A2027;
  }

  .form-attr-container .form-dao .dividend-pool .dividend-pool-item {
    border-bottom: 1px solid #EFF5FB;
  }

  .reward-container {
    .reward-tip {
      color: #636B72;
    }

    .reward-mbd .reward-mbd-transform {
      color: #636B72;
    }
  }

  .create-step3 .form-container {
    background: #FFFFFF;
  }

  .create-step3 .form-container .form-top .form-left .form-desc {
    color: #1A2027;
  }

  .create-step3 .form-container .form-top .form-left .form-tag {

    .form-tag-label {
      color: #636B72;
    }

    .form-tag-item {
      background: #F7F9FA;
      color: #36404B;
    }
    
  }

  .create-step3 .form-container .form-top .form-right .form-attr-container {
    border: 1px solid #EAEEF0;

    .form-attr-title {
      background: #F7F9FA;
      color: #1A2027;
    }

    .form-attr-list .form-attr-item {
      background: #F7F9FA;

      .form-attr-value {
        color: #1A2027;
      }
    }
  }

  .create-step3 .form-container .form-top .form-right .form-attr-container .form-attr-market {
    .form-attr-available {
      background: #F7F9FA;
      color: #85949F;
    }

    .form-attr-mbd {

      .mbd-value {
        font-size: 36px;
        font-family: Arial;
        font-weight: bold;
        line-height: 30px;
      }

      .form-attr-mbd-value {
        color: #636B72;
      }
      
    }
  }
  
  .create-step2 .title {
    color:#1A2027;
  }

  .create-step2 .form-container {
    background: #FFFFFF;
  }

  .user-container .el-aside {
    background: #FFFFFF;

    .menu-item-content.select {

      background: #F7F9FA;

      .menu-text {
        color:#36404B;
      }
      
    }
  }

  .user-container .el-main {
    background: #FFFFFF;
  }

  .container .balance .balance-address-container {
    background: #F7F9FA;
  }

  .container .balance-value .item {
    border: 1px solid #EAEDEF;

    .sub-value {
      color:#636B72;
    }

    .unit {
      color: #636B72;
    }
  }

  .container .settle-container {
    background: #F7F9FA;

    .unit {
      color: #636B72;
    }

    .sub-value {
      color: #636B72;
    }
  }

  .settle-label {
    color: #636B72;
  }

  .profile-container .form-container .form-item .form-value .form-upload {
    background: #F7F9FA;
    border: 1px solid #F7F9FA;
  }

}
